body
	{
		background-color: #de7c7c;
	}

.page
	{
		margin: auto;
		border-radius: 5px;
		border: 3px solid black;
		padding: 20px;
		margin: auto;
		font-size: 1.2em ;
		font-family: verdana;
		height:1100px;
		width:1200px;
		background-color: white;
	}


.entete
	{
		border-radius: 5px;
		height: 200px;
		width: 100%;
		border: 3px solid cyan;
		box-shadow: 2px 2px 2px cyan ;
	}

.info
	{
		float: left;
		height: 140px;
		margin-top:40px;
		margin-left: 10px;
		width: 40%;

	}

.photo
	{
		float: right;
		height: 170px;
		margin-top: 20px;
		margin-right: 20px;
		width: 20%;
	}

img
	{
		height: 150px;
		width: 150px;
	}

h1
	{
		color: blue;
		font-style: italic ;
		font-size: 1em;
	}


.formation
	{
		border-radius: 5px;
		border: 2px solid pink;
		float: left;
		box-shadow: 2px 2px 2px pink ;
		height: 160px;
		width: 100%;
	}

#date
	{
		float: left;
		text-align: center;
		font-size: 16px;
		width: 10%;
		height: 100px;
		margin-left: 10px;
	}

.école
	{
		float: left;
		width: 60%;
		height: 100px;
		margin-left: 100px;
	}


.expreriences_pro
	{
		border-radius: 5px;
		border: 2px solid pink;
		float: left;
		box-shadow: 2px 2px 2px pink;
		height: 300px;
		width: 100%;
		margin-top: 10px;
	}

.date
	{
		float: left;
		text-align: center;
		font-size: 16px;
		width: 10%;
		height: 240px;
		margin-left: 10px;
	}

.stages
	{
		float: right;
		margin-right: 10px;
		height: 240px;
		width: 80%;
	}


.langue_et_compétences
	{
		border-radius: 5px;
		border: 2px solid pink;
		float: left;
		box-shadow: 2px 2px 2px pink;
		height: 160px;
		width: 100%;
		margin-top: 20px;
	}

.langue
	{
		float: left;
		width: 12%;
		height: 100px;
	}

.compétences
	{
		float: right;
		margin-right: 50px;
		width: 80%;
		height: 100px;

	}


.autre_experiences_et_interets
	{
		border-radius: 5px;
		border: 2px solid pink;
		float: left;
		box-shadow: 2px 2px 2px pink ;
		height: 200px;
		width: 100%;
		margin-top: 10px;
	}

.centre_d_interet
	{
		float: right;
		margin-right: 10px;
		width: 80%;
		height: 140px;
	}

nav li
	{
		float: left;
		width: 250px;
		height: 75px;
		border: 1px solid #463a3a;
		border-radius: 10px;
		text-align: center;
		padding: 50px;
		box-shadow: 60px -16px #760f0f;
		margin-left: 100px;
		margin-bottom: 25px;
	}

nav li a
	{
		display: block;
		background-color: #de7c7c;
		border-radius: 10px;

	}

nav li :hover
	{
		background-color: #760f0f;
		border-radius: 10px;
		background-size: 100px;
	}

nav ul
	{
		list-style-type: none;
		margin-top: 50px;
	}

code
	{
		background: #48564D;
		color :#de7c7c;
		font-size: 2em;
		font-family: 'arial';
		text-align: center;
		border: 2px solid #1454CD;
		border-radius: 10px;
		display: block;
	}

footer
	{
		clear: both;
		position: relative;
		bottom: 0;
		width: 100%;
	}