body
	{
		background-color: #de7c7c;

	}

h1
	{
		text-align: center;
		font-weight: bold;
		text-decoration: underline;
	}

nav li
	{
		float: left;
		width: 100px;
		height: 50	px;
		border: 1px solid #463a3a;
		border-radius: 10px;
		text-align: center;
		padding: 50px;
		box-shadow: 60px -16px #760f0f;
		margin-left: 100px;
		margin-top: 20px;
	}

nav li a
	{
		display: block;
		background-color: #de7c7c;
		border-radius: 10px;
	}

nav li :hover
	{
		background-color: #760f0f;
		border-radius: 10px;
	}

nav ul
	{
		list-style-type: none;
	}

li a
	{
		display: block;
		background-color: #de7c7c;
		border-radius: 10px;
	}

li :hover
	{
		background-color: #760f0f;
		border-radius: 10px;
	}
	
ul
	{
		list-style-type: none;
	}

table
	{
		background-color: white;
	}