body
	{
		background-color: #de7c7c;
	}

section 
	{
		float: left;
		width: 27%;
		height: 400px;
		border: 6px solid #DE4567;
		border-radius: 10px;
		margin: 0 1.2% 24px 1.2%;
		text-align: center;
		padding: 20px 20px;
		background-color: #A4D5E1;
	}

header
	{
		margin: 0 1.2% 24px 1.2%;
	}

h1
	{
		text-align: center;
		font-family: arial;
		font-size: 2em;
		font-weight: bold;
		text-decoration: underline;
	}

nav li
	{
		float: left;
		width: 100px;
		height: 50	px;
		border: 1px solid #463a3a;
		border-radius: 10px;
		text-align: center;
		padding: 50px;
		box-shadow: 60px -16px #760f0f;
		margin-left: 100px;
	}

nav li a
	{
		display: block;
		background-color: #de7c7c;
		border-radius: 10px;
	}

nav li :hover
	{
		background-color: #760f0f;
		border-radius: 10px;
	}

nav ul
	{
		list-style-type: none;
		padding-top: 100px;
	}

.s1
	{
		color: #A458DE;
		background-color: #DEA436;
		text-align: justify;
		border-radius: 5px;
	}

.s2
	{
		color: #45BE78 ;
		background-color: #A27DA9;
		text-align: justify;
		border-radius: 5px;
	}

.s3
	{
		background-color: #DA4687;
	}

a.link
	{
		color: #DA4687;
	}

a.link:hover
	{
		color: #45DF81;
	}

a.link:visited
	{
		color: #CEF465;
	}

code
	{
		background: #48564D;
		color :#AB4576;
		font-size: 2em;
		font-family: 'arial';
		text-align: center;
		border: 2px solid #1454CD;
		border-radius: 10px;
		display: block;
	}

footer
	{
		clear: both;
		position: relative;
		bottom: 0;
		width: 100%;
		padding-top: 50px;
	}