body
	{
		background-color: #de7c7c;
	}

table
	{
		border:2px solid #00c1ff;
		width: 60%;
		margin: auto;
		background-color: #FFFFFF;
	}

h1
	{
		font-family: arial;
		font-size: 2em;
		text-align: center;
		margin: 20px;
		font-weight: bold;
		text-decoration: underline;
		
	}

tr
	{
		height: 50px;
	}

th 
	{
		background-image: url('nuage.jpg'); 
		font-family: verdana;
		font-size: 1.2em;
		text-align: center;
		border: 1px solid #000009;
	}

td 
	{
		border:1px solid #0068ff;
		font-size: 1.2em;
		text-align: center;
		padding: 5px;
	}

nav li
	{
		float: left;
		width: 100px;
		height: 50	px;
		border: 1px solid #463a3a;
		border-radius: 10px;
		text-align: center;
		padding: 50px;
		box-shadow: 60px -16px #760f0f;
		margin-left: 100px;
	}

nav li a
	{
		display: block;
		background-color: #de7c7c;
		border-radius: 10px;
	}

nav li :hover
	{
		background-color: #760f0f;
		border-radius: 10px;
	}

nav ul
	{
		list-style-type: none;
		padding-top: 100px;
	}

code
	{
		background: #48564D;
		color :#AB4576;
		font-size: 2em;
		font-family: 'arial';
		text-align: center;
		border: 2px solid #1454CD;
		border-radius: 10px;
		display: block;
	}

footer
	{
		clear: both;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding-top: 50px;
	}