body
	{
		background-color: #de7c7c;
	}

h1
	{
		text-align: center;
		padding-bottom: 150px;
	}

nav li
	{
		float: left;
		width: 250px;
		height: 75px;
		border: 1px solid #463a3a;
		border-radius: 5px;
		text-align: center;
		padding: 50px;
		box-shadow: 60px -16px #760f0f;
		margin-left: 100px;
	}

nav li a
	{
		display: block;
		background-color: #de7c7c;
		border-radius: 5px;

	}

nav li :hover
	{
		background-color: #760f0f;
		border-radius: 5px;
	}

nav ul
	{
		list-style-type: none;
		
	}